<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agendex</title>
    </head>
<body>

<div id="app">
    <select v-model="selected">
        <option v-for="selection in selections" v-bind:value="selection.value">
            {{selection.name}}
        </option>
    </select>
    <!--===================================================section Menu============================================================================-->

    <div v-if="selected===1">
        <p>Ta quête des Poké-Contacts commence ici. Un tout nouveau monde de rêves, d'aventures et de Poké-Contacts t'attend. <br> Bonne chance !</p>
        <img class="chen" src="http://www.pokepedia.fr/images/2/21/Chen-anime-BW.png" alt="Professeur Chen">
    </div>

    <!--===================================================section Liste de Contacts============================================================================-->

    <div v-if="selected===2"><ajout-contact></ajout-contact></div>

    <!--===================================================section Ajout============================================================================-->

    <div v-if="selected===3">    </div>

    <!--===================================================section Total Contact============================================================================-->

    <div v-if="selected===4">quatre</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="JS/app.js"></script>
</body>
</html>